body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: #fed136;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
a {
    color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}




header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(http://orig09.deviantart.net/7a63/f/2014/211/9/2/simple_vector_pattern_background_by_123freevectors-d7t0uk2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}